body{
    font-family: 'Uchen', serif;
    background-color: thistle;
}
h1{
    text-align: center;
    font-size: xx-large;
    color:purple;
}
h2{
    text-align: center;

}
.top-view{
    text-align: center;
    
}
.first-anchor{
    color: purple;
    text-decoration: none;
    font-weight: bolder;
    background-image:linear-gradient(plum, rgb(158, 30, 158));
    padding:10px 10px;
    border-radius:10px;
}
.section-zero{
    margin-bottom: 70px;
}
.first-section{
    display:flex;
    margin-bottom: 50px;
}

.area{
    margin-left: 60px;
}
.area2{
    margin-left: 900px;
}
.half-width{
    margin-left: 35px;
}
.half-width img{
    width:32%;
}
p{
    color:purple;
    font-weight: bolder;
    text-align:justify;
    margin: 25px;
}